#formdiv{
    margin-top:70px;
    margin-right:10px;
    z-index:5px;
}
#textarea{
    width:450px;
    height:50px;
    border:1px solid gray;
}
@media only screen and (max-width: 500px) {
    #formdiv{
        width:100%;
        padding:3px;
        margin-top:10px;
    }
    #textarea{
        width:100%;
        margin-left: 5px;
    }
    #button{
        margin-right:-10px;
    }
    #d{
        width:120px !important;
        margin-left: 40px;
    }
    #img{
        width:120px !important;
    }
}